body {
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: Indigo;
}

a {
  font-weight: bold;
  color: Indigo;
}

table {
  width: 624px;
  height: 624px;
  border: 2px solid MediumPurple;
  border-radius: 10px;
}

td {
  position: relative;
  width: 104px;
  height: 104px;
}

img {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 2px;
  border: 2px solid white;
  border-radius: 10px;
}

img:hover {
  border: 2px solid crimson;
  cursor: pointer;
  border-radius: 10px;
}

.container {
  display: block;
  width: 100%;
}

.view {
  width: 650px;
  margin: 0 auto;
}

.counter {
  display: inline-block;
  font-weight: bold;
  color: Indigo;
}

.auth {
  display: inline-block;
  float: right;
}

.auth-login {
  width: 650px;
  display: none;
}

.login {
  display: inline-block;
  font-weight: bold;
  padding: 0px 6px 0px 6px;
  color: White;
  background-color: DarkSlateBlue;
  border: 1px solid DarkSlateBlue;
  border-radius: 6px;
}

.register {
  display: inline-block;
  font-weight: bold;
  padding: 0px 6px 0px 6px;
  color: White;
  background-color: DarkSlateBlue;
  border: 1px solid DarkSlateBlue;
  border-radius: 6px;
}

.form-control {
  display: inline-block;
  padding: 0px 6px 0px 6px;
  color: Indigo;
  border: none;
}

p.form-control {
  display: inline-block;
  border: none;
  color: Indigo;
}

input.form-control {
  display: inline-block;
  padding: 0px 0px 0px 4px;
  margin: 0px 16px 0px 0px;
  color: Indigo;
  width: 256px;
  border: 1px solid DarkSlateBlue;
  border-radius: 6px;
}

button.form-control {
  display: inline-block;
  font-weight: bold;
  padding: 0px 6px 0px 6px;
  margin: 0px 0px 0px 16px;
  width: 70px;
  color: White;
  background-color: DarkSlateBlue;
  border: 1px solid DarkSlateBlue;
  border-radius: 6px;
}

.footer {
  width: 606px;
  padding-top:16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: smaller;
}

a.footer {
  font-weight: normal;
  font-size: smaller;
  text-decoration: underline;
  color: Indigo;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.hide {
  display: none;
}
